<a href="javascript:void(0);" ng-click="showMenu()" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
<div class="container"> 
  <!--Top header-->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="imaginary_container">
        <div class="input-group stylish-input-group"> <span class="input-group-addon searchlogo" style="background:#fff !important"> <img src="images/256-logo.jpg" alt="256_logo"> </span>
          <input type="text" class="form-control"  placeholder="Search" ng-model="name">
          <span class="input-group-addon search-btn">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
    </div>
  </div>
  <!--/Top header--> 
  
  <!--Grids-->
  <div class="row">
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" style="position:relative"> <img class="img-responsive" width="290" height="180" src="images/video.jpg" alt=""> </a>
        <p class="caption">My TV</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="#" style="position:relative"> <img class="img-responsive" width="290" height="180" src="images/schools.jpg" alt=""> </a>
        <p class="caption">Schools</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="#" data-target="#myModal" style="position:relative"> <img class="img-responsive" width="290" height="180" src="images/placeholder.jpg" alt=""> </a>
        <p class="caption">New Feature</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="#" style="position:relative"> <img class="img-responsive" width="290" height="180" src="images/placeholder.jpg" alt=""> </a>
        <p class="caption">New Feature</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="#" style="position:relative"> <img class="img-responsive" src="images/placeholder.jpg" alt=""> </a>
        <p class="caption">New Feature</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-6 portfolio-item">
      <div class="card"> <a href="#" style="position:relative"> <img class="img-responsive" src="images/placeholder.jpg" alt=""> </a>
        <p class="caption">New Feature</p>
      </div>
    </div>
  </div>
</div>
<!--/Grids--> 