<div class="container-fluid"> 
  <!--Top header-->
  <div class="row">
    <div class="col-md-1"> <a style="margin-bottom: 5px;" href="javascript:void(0);" ng-click="showMenu()" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a> </div>
    <div class="col-md-6">
      <div class="input-group stylish-input-group"> <span class="input-group-addon searchlogo" style="background:#fff !important"> <img src="images/256-logo.jpg" alt="256_logo"> </span>
        <input type="text" class="form-control"  placeholder="Search" ng-model="name">
        <span class="input-group-addon search-btn">
        <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
        </span> </div>
    </div>
  </div>
  <!--/Top header-->
  
  <div style="margin-top:20px;" class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-television"></i> NTV</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3"> 
              <!--Tree Menu Starts here-->
              <div class="side-bar-container">
              <a class="btn btn-danger" ng-click="liveStream('ntv')" href="javascript:void(0)">NTV LIVE</a>
              <hr>
              <h4 style="font-size: 15px; text-transform: uppercase; font-weight: bold;color: #444;margin-bottom: 15px;">Program Lineup</h4>
                <ul class="nav nav-list side-bar-links">
                  <li>
                    <label style="cursor:pointer" class="tree-toggler nav-header"><i class="fa fa-folder folder"></i> NTV PRODUCTIONS</label>
                    <ul class="nav nav-list tree">
                              <li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Fourth Estate</a></li>
                              <li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Koona Ne NTV</a></li>
                              <li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> GXP Live</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Kitchen Delight</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Koona Ne NTV</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Log In</a></li>
<li><a a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Money Matters</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Morning at NTV</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Omumuli</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> On the Spot</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Planet K</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Simply Learn</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> The Beat</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Tuwaye</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample2.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Xpozed</a></li>
</ul>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <label class="tree-toggler nav-header"><i class="fa fa-folder folder"></i> NEWS FEATURES</label>
                    <ul class="nav nav-list tree">
                              <li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> News Night</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> NTV Tonight</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Point Blank</a></li>
<li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Zungulu</a></li>
</ul>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <label class="tree-toggler nav-header"><i class="fa fa-folder folder"></i> OTHER SHOWS</label>
                    <ul class="nav nav-list tree">
                              <li><a style="padding: 5px 15px;" ng-click="playvideo('media/sample1.mp4')" href="javascript:void(0)"><i class="fa fa-film"></i> Comedy Skits</a></li></ul>
                  </li>
                  
                </ul>
              </div>
              <!--/Tree Menu Starts here--> 
            </div>
            <div class="col-md-9" id="videoZone">
            <div id="livestream">
              <iframe id="ntvlive" width="100%" height="450" src="https://www.youtube.com/embed/au3B-w5bKuk?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <video id="myPlayer"  controls  poster="images/videoplaceholder.jpg" autoplay>
                <source id="myChannel" src="">
                Your browser does not support the video tag. </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
